body {
    background-color: #ECEDF1;

}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.header, .footer__first, .footer__second, .content {
    max-width: 1180px;
    margin: 0 auto;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
}
.header h2 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 30px;
    color: #344D71;
}
.header__social {
    font-size: 25px;
    color: #83969F;
    display:  flex;
    justify-content:  space-between;
    width: 120px;
    padding-right: 30px;
}
.header__contacts {
    display: flex;
    max-height: 57px;
    justify-content: flex-end;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 25px;
    align-items: center;
    background-color: #FBFBFB;
}
.header__contacts__email {
    font-size: 14px;
    padding-right: 42px;
}
.header__contacts__phone {
    color: #FBFBFB;
    background-color: #344D71;
    padding: 13px 31px;
}
.fa.fa-phone {
    color: #FBFBFB;
    background-color: #DE9E20;
    padding: 0 20px;
    padding-bottom: 14px;
    padding-top: 15px;
}
.header__navigation {
    background-color: #DE9E20;
    height: 70px;
    color: #FBFBFB;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 16px;
    margin-top: -2px;
    padding-top: 30px;
    padding-left: 23px;
}
.navigation__element {
    display: inline;
    padding-left: 15px;
}
.main {
    margin-top: -40px;
}
.block_top {
    background-color: #FBFBFB;
    background-image: url("../img/Masthead.png");
    background-size: cover;
    width: 100%;
    height: 801px;
    margin: 0 auto;
    color: #FBFBFB;
}
.block_top__text {
    padding-left: 0;
    padding-top: 0;
}
.block_top__text h3 {
    font-family: Raleway-Light, sans-serif;
    font-size: 40px;
}
.block_top__text p {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 20px;
}
.contact_us {
    margin-left: 770px;
    margin-top: -336px;
    background-color: #344D71;
    position: absolute;
    height: 425px;
    width: 332px;
    padding-left: 60px;
    /* transform: translateY(-100%); */
}
.contact_us h3 {
    font-family: Raleway-Light, sans-serif;
    font-size: 24px;
}
.contact_us p {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 14px;
}
.contact_us span {
    font-family: Ubuntu, sans-serif;
    font-size: 13px;
}
.contact__placeholder {
    width: 280px;
    height: 45px;
    border: none;
    border-radius: 1%;
}
.subscribe__button {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 14px;
    color: #FBFBFB;
    height: 50px;
    width: 280px;
    border: none;
    border-radius: 1%;
    background-color: #DE9E20;
}
.enrol {
    display: flex;
}
.enrol__text {
    padding-top: 11px;
    background-color: #83969F;
     height: 95px;
}
.enrol__text h3 {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 20px;
    color: #FBFBFB;
    padding-left: 126px;
}
.enrol__text a {
    font-family: "Proxima Nova Regular", sans-serif;
    text-decoration: underline;
}
.summary {
    display: flex;
}

@font-face {
    font-family: FontAwesome;
    src: local("FontAwesome"),
    url(../fonts/FontAwesome.otf);
}
@font-face {
    font-family: Proxima Nova Bold;
    src: local("Proxima Nova Bold"),
    url(../fonts/ProximaNovaBold.otf);
}
@font-face {
    font-family: Proxima Nova Regular;
    src: local("Proxima Nova Regular"),
    url(../fonts/ProximaNovaRegular.otf);
}
@font-face {
    font-family: Proxima Nova Regular Italic;
    src: local("Proxima Nova Regular Italic"),
    url(../fonts/ProximaNovaRegularItalic.otf);
}
@font-face {
    font-family: Proxima Nova Semibold;
    src: local("Proxima Nova Semibold"),
    url(../fonts/ProximaNovaSemibold.otf);
}
@font-face {
    font-family: Raleway-Light;
    src: local("Raleway-Light.ttf"),
    url(../fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: Raleway-Medium;
    src: local("Raleway-Medium"),
    url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: Open Sans;
    src: local("Open Sans"),
    url(../fonts/opensans.ttf);
}
@font-face {
    font-family: Ubuntu Medium;
    src: local("Ubuntu Medium"),
    url(../fonts/ubuntumedium.ttf);
}
@font-face {
    font-family: Glyphicons;
    url(../font/glyphicons-halflings-regular.ttf);
}
