body {
    background-color: #ECEDF1;

}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}

.header, .footer__first, .footer__second, .courses, .base,.summary, .enrol {
    max-width: 1180px;
    margin: 0 auto;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
}
.header h2 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 30px;
    color: #344D71;
}
.header__social {
    font-size: 25px;
    color: #83969F;
    display:  flex;
    justify-content:  space-between;
    width: 120px;
    padding-right: 30px;
}
.contacts {
    display: flex;
    max-height: 57px;
    justify-content: flex-end;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 25px;
    align-items: center;
    background-color: transparent;
}
.header__contacts__email {
    font-size: 14px;
    padding-right: 42px;
}
.header__contacts__phone {
    color: #FBFBFB;
    background-color: #344D71;
    padding: 13px 31px;
}
.fa.fa-phone {
    color: #FBFBFB;
    background-color: #DE9E20;
    padding: 15px 20px 14px;
}
.header__navigation {
    background-color: #DE9E20;
    height: 70px;
    color: #FBFBFB;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 16px;
    margin-top: -2px;
    padding-top: 30px;
    padding-left: 23px;
}
.navigation__element {
    display: inline;
    padding-left: 15px;
}
.main {
    margin-top: -40px;
}
.block_top {
    background-color: #FBFBFB;
    background-image: url("../img/Masthead.png");
    background-size: cover;
    width: 100%;
    height: 801px;
    margin: 0 auto;
    color: #FBFBFB;
} /*TODO fix position*/
.block_top__text {
    padding-left: 0;
    padding-top: 0;
}
.block_top__text h3 {
    font-family: Raleway-Light, sans-serif;
    font-size: 40px;
}
.block_top__text p {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 20px;
}
.contact_us {
    margin-top: -317px;
    background-color: #344D71;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
}
.contact_us h3 {
    font-family: Raleway-Light, sans-serif;
    font-size: 24px;
    padding-top: 51px;
    margin: 0;
}
.contact_us p {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 14px;
    padding-top: 11px;
    padding-bottom: 28px;
    margin: 0;
}
.contact_us span {
    font-family: Ubuntu, sans-serif;
    font-size: 13px;
}
.contact__placeholder {
    width: 280px;
    height: 43px;
    border: none;
    border-radius: 2%;
    margin-top: 5px;
    margin-bottom: 14px;
}
.subscribe__button {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 14px;
    color: #FBFBFB;
    height: 52px;
    width: 280px;
    border: none;
    border-radius: 2%;
    background-color: #DE9E20;
    margin-top: 3px;
}
.enrol {
    display: flex;
    justify-content: space-between;
    background-color: #83969F;
}
.enrol__text {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -87px;
}
.enrol__text h3 {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 20px;
    color: #FBFBFB;
    padding-left: 126px;
}
.enrol__text a {
    font-family: "Proxima Nova Regular", sans-serif;
    text-decoration: underline;
}
.base {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 47px;
    background-color: white;
}
.base__section {
    max-width: 33%;
    padding-top: 23px;
    padding-right: 10px;
    color: #63727A;
}
.base__article {padding-left: 40px;padding-bottom: 62px;}
.base__section h3 {
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: -0.2px;
}
.base__section p {
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 14px;
    line-height: 1.9;
}
.base__article__text {
    padding-right: 28px;
}
.base__list__text {padding-left: 36px;line-height: 1.2;}
.base__section ul {
    padding-top: 3px;
    padding-left: 4px;
    margin: 0;
    letter-spacing: -0.3px;
}
.base__section li {
    padding-bottom: 20px;
}
.base__section li::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 2px solid orangered;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: white;
    margin-right: 10px;
} /*TODO make circle marker*/

.section__button {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 15px;
    padding: 17px 42px;
    color: white;
    border-radius: 4%;
    margin-left: 37px;
}
.section__button.blue {
    background: blue;
}
.section__button.orange {
    background: orange;
}
.base__video {
    background: url("../img/Layer 16.png");
    background-color: black;
    background-size: cover;
    padding-top: 184px;
    padding-bottom: 32px;
    margin-top: -23px;
    padding-left: 32px;
    align-items:  center;
    display:  flex;
    margin-right: -10px;
}/*TODO find better solution*/

.base__video a {
    color: white;
    font-size: 18px;
    padding-left: 15px;
}
.base__video__text {padding-top: 16px;padding-left: 38px;padding-right: 14px;}
.courses__row {
    display: flex;
    margin: 0 auto;
    color: white;
}
.courses__block {
    background: magenta;
    padding-left: 43px;
    padding-bottom: 22px;
    width: 33%;
}
.courses__block h3 {
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: -4px;
}
.courses__block p {
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 13px;
}
.courses__block.East_Bay {
    background-color: #3A557C;
}
.courses__block.Bismark {
    background-color: #466289;
}
.courses__block.Cloud_Burst {
    background-color: #253957;
}
.courses__block.Kashmir_Blue {
    background-color: #516E96;
}
.courses__block.San_Marino {
    background-color: #4771AF;
}
.summary {
    display: flex;
    background-color: white;
    padding-bottom: 7px;
}
.summary__content__header.blog {
    padding-left: 54px;
}

.summary__content__article.blog {
    padding-right: 44px;
    padding-left: 57px;
}
.summary__content__article {
    padding-top: 17px;
    padding-bottom: 31px;
    padding-right: 60px;
}
.summary__content__header h2{
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 14px;
    color: #89949A;
    padding-top: 22px;
    margin-top: 0;
}
.summary__content__article h3 {
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 16px;
    color: #F5B431;
    margin-bottom: -4px;
}

.summary__background {
    background-color: #FAFAFA;
}
.summary__content p {
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 14px;
    color: #324A6D;
    margin-bottom: 9px;
}
.summary__content.blog {
    border-left: 1px solid #ECE8E8;
}
.summary__content__article time {
    font-family: "Proxima Nova Regular Italic", sans-serif;
    font-size: 14px;
    color: #ABB0B6;
}
.summary__content.videos {
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 16px;
}
.summary__content__header {
    padding-bottom: 12px;
    border-bottom:  1px solid #ECE8E8;
    background-color: #FAFAFA;
}
.summary__content__video {
    color: white;
    padding: 162px 12px 25px 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.summary__content__video.first {
    background: url("../img/Layer 9.png");
    background-size: cover;
    background-color: black;
    margin-top: 15px;
    margin-bottom: 10px;
}
.summary__content__video.second {
    background: url("../img/Layer 8.png");
    background-size: cover;
    background-color: black;
    padding-bottom: 17px;
    padding-top: 170px;
    margin-bottom: 10px;
}
.summary__content__video span {
    padding-left: 12px;
}
.footer__first {
    display: flex;
    font-family: Proxima Nova Semibold, sans-serif;
    letter-spacing: -0.5px;
}
.footer_dark {
    background-color: #253957;
}
.footer__about_us {
    padding-right: 55px;
}
.footer__information {
    padding-left: 40px;
    padding-right: 87px;
    border-right: 1px solid #344D71;
    border-left: 1px solid #344D71;
    padding-bottom: 98px;
}
.footer__contact {
    padding-left: 43px;
}
.footer__first h3 {
    padding-top: 36px;
    color: #F5B431;
}
.footer__first ul {
    padding-left: 0;
    padding-bottom: 19px;
    color: #F2F5F6;
}
.footer__about_us li {
    font-size: 14px;padding-bottom: 7px;
}
.footer__information li {
    font-size: 14px;padding-bottom: 17px;
}
.footer__contact li {
    font-size: 14px;padding-bottom: 16px;
}

.footer_light {
    background-color: #344D71;
}
.footer__second {
    display: flex;
    padding-top: 13px;
    justify-content: space-between;
}
.footer__second__text {
    font-size: 13px;
    line-height: 20px;
    font-family: Proxima Nova Semibold, sans-serif;
    color: #59759C;
}

p.footer__second__text {}
.contacts.footer {
    transform: translateY(-119%);
}
@font-face {
    font-family: FontAwesome;
    src: local("FontAwesome"),
    url(../fonts/FontAwesome.otf);
}
@font-face {
    font-family: Proxima Nova Bold;
    src: local("Proxima Nova Bold"),
    url(../fonts/ProximaNovaBold.otf);
}
@font-face {
    font-family: Proxima Nova Regular;
    src: local("Proxima Nova Regular"),
    url(../fonts/ProximaNovaRegular.otf);
}
@font-face {
    font-family: Proxima Nova Regular Italic;
    src: local("Proxima Nova Regular Italic"),
    url(../fonts/ProximaNovaRegularItalic.otf);
}
@font-face {
    font-family: Proxima Nova Semibold;
    src: local("Proxima Nova Semibold"),
    url(../fonts/ProximaNovaSemibold.otf);
}
@font-face {
    font-family: Raleway-Light;
    src: local("Raleway-Light.ttf"),
    url(../fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: Raleway-Medium;
    src: local("Raleway-Medium"),
    url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: Open Sans;
    src: local("Open Sans"),
    url(../fonts/opensans.ttf);
}
@font-face {
    font-family: Ubuntu Medium;
    src: local("Ubuntu Medium"),
    url(../fonts/ubuntumedium.ttf);
}
@font-face {
    font-family: Glyphicons;
    url(../font/glyphicons-halflings-regular.ttf);
}